<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">NOTIFICATIONS</h1>
    </md-toolbar>

    <md-content>
        <md-list>
            <ug-notification-detail class="notification"
                                    ng-repeat="notification in U.user.notifications | orderBy: '-createdAt'"
                                    notification="notification"></ug-notification-detail>
        </md-list>
    </md-content>
</md-sidenav>