<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm class="md-icon-button" aria-label="Settings" ng-click="tb.toggleSidenavUser()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 hide-gt-sm>
            <span>UG MEDIA</span>
        </h2>
        <span ng-hide="tb.search" flex></span>
        <md-button class="md-icon-button" ng-click="tb.search = !tb.search">
            <md-icon>search</md-icon>
        </md-button>
        <md-autocomplete
                flex
                ng-show="tb.search"
                md-selected-item="tb.selectedUser"
                md-search-text="tb.searchText"
                md-items="user in U.users | filter: tb.searchText"
                md-item-text="user.username"
                md-selected-item-change="tb.goToUser(user.username)"
                md-autoselect="false"
                md-min-length="2"
                placeholder="Search users">
            <md-item-template>
                <span class="user-search">
                    <img class="user-search-avatar" ng-src="{{ user.avatar }}" alt="user.username">
                    <span> {{user.username}} </span>
                </span>
                <!--<span class="item-metadata">-->
                    <!--<span class="item-metastat">-->
                        <!--<strong>{{item.watchers}}</strong> watchers-->
                    <!--</span>-->
                    <!--<span class="item-metastat">-->
                        <!--<strong>{{item.forks}}</strong> forks-->
                    <!--</span>-->
                <!--</span>-->
            </md-item-template>
            <md-not-found>
                No matches found
            </md-not-found>
        </md-autocomplete>
        <md-button class="md-icon-button" ng-click="tb.toggleSidenavNotifications()">
            <md-icon>notifications</md-icon>
        </md-button>
    </div>
</md-toolbar>