html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body {
  height: 100%;
}

.ugmedia-logo{
  font-weight: bold !important;
  font-size: 1.3em !important;
}

.auth-page{
  min-height: 681px;
  background-color: #ddd;
}

.auth-page > md-card > md-card-content > input {
  padding: 5px;
  margin: 9px;
}

md-content > div {
  min-height: 608px;
  background-color: #eee;
  padding: 15px;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.ug-avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 4px;
}

.avatar-75 {
  margin-top: 12px !important;
  height: 75px !important;
  width: 75px !important;
}

.header {
  height: 79px;
  width: auto;
}

.cropArea {
  background: white;
  overflow: hidden;
  width: auto;
  height: 368.9px;
}

.user-object-length {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
}

.user-object-button {
  line-height: 25px;
  font-size: 12px;
}

.profile-search-box > md-autocomplete-wrap {
  box-shadow: none;
}

.post-card {
  margin-bottom: 30px;
}

.post-card > md-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

.post-card > md-card-header > md-card-avatar {
  margin-left: 0 !important;
  margin-right: 12px;
}

.post-card > md-card-header > button {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.post-bar > md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}

.post-bar + md-card-actions {
  margin-top: 0;
}

md-list-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.md-avatar, .md-user-avatar {
  cursor: pointer;
}

.timestamp {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px;
}

.simple-link {
  margin-right: 3px;
  text-decoration: none;
}

md-list-item.notification > button {
  line-height: 25px !important;
}

.user-search {
  padding-top: 5px;
  height: 40px;
  margin-bottom: 5px;
}

.user-search > img {
  display: inline-block;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.user-search > span {
  font-weight: bold;
  padding-left: 10px;
  position: absolute;
  top: 0;
}

.notification-length {
  position: absolute;
  left: 0px;
  right: 0px;
  font-size: 0.7em;
  font-weight: bold;
}

.login-content {
  padding: 20px;
}

input.auth-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 20px 0;
}

img.auth-avatar {
  border-radius: 50%;
  height: 75px !important;
  width: 75px !important;
}