<md-list-item>
    <img ng-src="{{ sender.avatar }}" class="md-avatar"
         alt="{{ sender.username }}"
         ui-sref="user.profile({username: sender.username})">

    <p>
        <strong>{{ sender.username }}</strong>
        <span ng-if="notification.comment"> commented on your post: {{ notification.comment }}</span>
        <span ng-if="notification.tagged"> tagged you in a post</span>
        <span ng-if="notification.liked"> liked your post</span>
        <span class="timestamp" am-time-ago="notification.createdAt"></span>
    </p>

    <md-icon ng-click="navigateToNotification(notification)" class="md-secondary"
             aria-label="Notification">
        <span ng-if="notification.comment">comment</span>
        <span ng-if="notification.liked">favorite</span>
        <span ng-if="notification.tagged"> assignment_ind</span>
    </md-icon>

    <md-divider ng-if="!$last"></md-divider>
</md-list-item>