<md-card class="post-card">

    <!-- Post header section -->
    <md-card-header>
        <md-card-avatar>
            <img ui-sref="user.profile({username: pd.author.username})" class="md-user-avatar"
                 ng-src="{{ pd.author.avatar }}" alt="pd.author.username">
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title" layout="row">
                {{ pd.author.username }}
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open post menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin>more_horiz</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-repeat="menu in pd.menuItems"
                                      ng-if="menu.name !== 'Copy URL' ? pd.author.$id === pd.user.profile.$id : true">
                            <md-button ng-click="pd.menuAction(menu.name)">
                                <div layout="row">
                                    <p flex>{{ menu.name }}</p>
                                    <md-icon md-menu-align-target>{{ menu.icon }}</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <span class="md-subhead">{{ pd.author.name }}</span>
        </md-card-header-text>
    </md-card-header>

    <!-- Post picture section -->
    <img ng-if="pd.post.image" ng-src="{{ pd.post.image }}" alt="">
    <!-- Post document section -->
    <md-card-actions ng-if="pd.post.document" layout="column">
        <md-button class="md-primary" ng-href="{{ pd.post.document.url }}" target="_blank">
            {{ pd.post.document.name }}
        </md-button>
    </md-card-actions>
    <br>

    <!-- Post content section -->
    <md-card-content>
        {{ pd.post.caption }}
        <div ng-if="pd.taggedUsers.length > 0" style="padding-top: 8px;">
            <md-icon>assignment_ind</md-icon>
            :
            <span ng-repeat="user in pd.taggedUsers">
                <a class="simple-link md-primary" ui-sref="user.profile({username: user.username})">
                    {{ user.username}}
                </a>
                <span ng-show="!$last">,</span>
            </span>
        </div>
    </md-card-content>

    <!-- Post like button section -->
    <md-card-actions layout="row" layout-align="center center">
        <md-button ng-if="pd.likes.$indexFor(pd.user.profile.$id) < 0" class="md-icon-button"
                   ng-click="pd.setLikePost()">
            <md-icon>favorite</md-icon>
        </md-button>
        <md-button ng-if="pd.likes.$indexFor(pd.user.profile.$id) >= 0" class="md-icon-button md-primary"
                   ng-click="pd.setUnlikePost()">
            <md-icon>favorite</md-icon>
        </md-button>
    </md-card-actions>

    <!-- Post objects detail section -->
    <md-card-content layout="column">
        <div layout="column" layout-gt-xs="row">
            <span class="timestamp">
                <a href="" class="simple-link" ng-click="pd.showPostObject('likes')">{{ pd.likes.length }} likes</a>,
                <a href="" class="simple-link" ng-click="pd.showPostObject('comments')">{{ pd.comments.length }} comments</a>
            </span>
            <span flex></span>
            <span class="timestamp">
                <span am-time-ago="pd.post.createdAt"></span>
            </span>
        </div>
        <md-divider></md-divider>
    </md-card-content>

    <!-- Comments section -->
    <div ng-if="pd.comments.length > 0 && pd.postObject === 'comments'">
        <ug-post-comment-list comments="pd.comments"
                              id="{user: pd.user.profile.$id, postAuthor: pd.post.author}"></ug-post-comment-list>
        <md-divider></md-divider>
    </div>

    <!-- Likes section -->
    <div ng-if="pd.likes.length > 0 && pd.postObject === 'likes'">
        <md-list>
            <ug-user-list-detail ng-repeat="user in pd.likes" auth-user="pd.user" user="user">
            </ug-user-list-detail>
        </md-list>
        <md-divider></md-divider>
    </div>


    <!-- Comment bar section -->
    <md-card-header class="post-bar" layout="row" layout-align="start center">
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ pd.user.profile.avatar }}" alt="{{ pd.user.profile.username }}">
        </md-card-avatar>
        <md-input-container flex layout="column">
            <label>Enter a comment</label>
            <textarea rows="2" ng-model="pd.commentText"></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary md-icon-button" ng-click="pd.addComment(pd.commentText)">
            <md-icon>send</md-icon>
        </md-button>
    </md-card-header>

</md-card>