<md-card flex>
    <md-card-content id="post-bar">
        <md-input-container layout="column">
            <label>Write something</label>
            <textarea rows="2" ng-model="pb.post.caption" md-maxlength="500"></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Image">
            <md-icon>image</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Document">
            <md-icon>attach_file</md-icon>
        </md-button>
        <md-button class="md-raised md-primary" aria-label="Document" ng-click="pb.setPost(pb.post)">
            Share
        </md-button>
    </md-card-actions>
</md-card>