<md-card>
    <!-- Update Mode -->
    <img ng-if="pb.post.image && !pb.image && !pb.document" ng-src="{{ pb.post.image }}" alt="">
    <md-card-actions ng-if="pb.post.document && !pb.image && !pb.document" layout="column">
        <md-button class="md-primary" ng-href="{{ pb.post.document.url }}" target="_blank">
            {{ pb.post.document.name }}
        </md-button>
    </md-card-actions>

    <!-- Image Section -->
    <div ng-if="pb.image" ngf-pattern="image/*" class="cropArea">
        <img-crop ng-if="pb.cropAspectRatio === 'square'" area-type="square" image="pb.image" result-image=""
                  init-max-area="true"
                  result-blob="pb.croppedImage" result-image-format="'image/jpeg'" result-image-size="1000"
                  result-image-quality="0.5">
        </img-crop>
        <img-crop ng-if="pb.cropAspectRatio === 'landscape'" area-type="rectangle" image="pb.image" result-image=""
                  init-max-area="true"
                  result-blob="pb.croppedImage" aspect-ratio="1.3333333" result-image-format="'image/jpeg'"
                  result-image-size="{w:1024, h:768}" result-image-quality="0.5">
        </img-crop>
        <img-crop ng-if="pb.cropAspectRatio === 'potrait'" area-type="rectangle" image="pb.image" result-image=""
                  init-max-area="true"
                  result-blob="pb.croppedImage" aspect-ratio="0.75" result-image-format="'image/jpeg'"
                  result-image-size="{w:768, h:1024}" result-image-quality="0.5">
        </img-crop>
    </div>
    <md-card-actions ng-if="pb.image" layout="row" layout-align="center center">
        <md-button ng-click="pb.cropAspectRatio = 'square'"
                   ng-class="{'md-primary': pb.cropAspectRatio === 'square' }">
            square
        </md-button>
        <md-button ng-click="pb.cropAspectRatio = 'landscape'"
                   ng-class="{'md-primary': pb.cropAspectRatio === 'landscape' }">
            landscape
        </md-button>
        <md-button ng-click="pb.cropAspectRatio = 'potrait'"
                   ng-class="{'md-primary': pb.cropAspectRatio === 'potrait' }">
            potrait
        </md-button>
    </md-card-actions>

    <!-- Document section -->
    <md-card-actions ng-if="pb.document" layout="column">
        <md-button class="md-primary">
            {{ pb.document.name }}
        </md-button>
    </md-card-actions>

    <md-card-header class="post-bar" layout="row" layout-align="start center">
        <md-card-avatar>
            <img ui-sref="user.profile({username: pb.user.profile.username})" class="md-user-avatar"
                 ng-src="{{ pb.user.profile.avatar }}" alt="{{ pb.user.profile.username }}">
        </md-card-avatar>
        <md-input-container flex layout="column">
            <label>{{ pb.post ? 'Edit post' : 'Write Something' }}</label>
            <textarea rows="2" ng-model="pb.post.caption" md-maxlength="500"></textarea>
        </md-input-container>
    </md-card-header>

    <md-card-content ng-show="pb.tagTo">
        <md-contact-chips
                ng-model="pb.taggedUsers"
                md-contacts="pb.querySearch($query)"
                md-contact-name="username"
                md-contact-image="avatar"
                md-contact-email="email"
                md-require-match="true"
                md-highlight-flags="i"
                filter-selected="true"
                placeholder="To"
                secondary-placeholder="Enter username">
        </md-contact-chips>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Image" ngf-select ng-model="pb.file"
                   ngf-accept="'.jpg,.png,.doc,.docx,.pdf'" ngf-change="pb.checkFile($file)">
            <md-icon>attach_file</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Tag to" ng-click="pb.tagTo = pb.tagTo ? false : true;"
                   ng-class="{'md-primary': pb.tagTo || pb.taggedUsers.length > 0}">
            <md-icon>assignment_ind</md-icon>
        </md-button>
        <md-button ng-if="!post" class="md-raised md-primary" aria-label="Share" ng-click="pb.setPost()">
            Share
        </md-button>
        <md-button ng-if="post" class="md-raised md-primary" aria-label="Save" ng-click="pb.updatePost()">
            Save
        </md-button>
    </md-card-actions>

    <md-progress-linear ng-if="pb.progress" md-mode="determinate" value="{{ pb.progress }}"></md-progress-linear>
</md-card>