<md-list-item class="md-2-line md-long-text comment">
    <img ui-sref="user.profile({username: pcd.author.username})" ng-src="{{ pcd.author.avatar }}" alt="pcd.author.username" class="md-avatar">
    <div class="md-list-item-text">
        <h3 layout="row">
            {{ pcd.author.username }}
            <span flex></span>
            <md-subheader hide-xs am-time-ago="pcd.comment.createdAt">
            </md-subheader>
        </h3>
        <p>
            {{ pcd.comment.text }}
            <md-subheader hide-gt-xs am-time-ago="pcd.comment.createdAt">
            </md-subheader>
        </p>
    </div>

    <!-- Cancel button only exists if postAuthor === authenticatedUser or commentAuthor === authenticatedUser -->
    <md-button ng-if="$parent.id.postAuthor === $parent.id.user || pcd.author.$id === $parent.id.user" class="md-icon-button" ng-click="pcd.deleteComment(pcd.comment)">
        <md-icon>cancel</md-icon>
    </md-button>
</md-list-item>