<div layout="column">

    <!-- Header section -->
    <div class="header">
        <h2>Setting Account</h2>
    </div>

    <md-divider></md-divider>

    <!-- Content section -->
    <div layout-gt-xs="row" layout-align-gt-xs="center start" layout-xs="column" layout-padding>

        <!-- Avatar section -->
        <div flex-gt-xs="30" layout="column">
            <!-- Image section -->
            <md-card ng-show="!US.progress">
                <img class="md-avatar" ngf-select ngf-accept="'image/*'" ng-show="!US.originalAvatar" ng-src="{{ U.user.profile.avatar }}">

                <div ng-show="US.originalAvatar" ngf-drop ngf-pattern="image/*" class="cropArea">
                    <img-crop area-type="square" image="US.originalAvatar" result-image=""
                              result-blob="US.croppedAvatar" result-image-size="300" result-image-quality="1.0"></img-crop>
                </div>
            </md-card>

            <!-- Upload loading section -->
            <md-card ng-show="US.progress">
                <md-card-content layout="column" layout-align="center center">
                    <h4>Uploading Avatar</h4>
                    <md-progress-circular md-mode="determinate" value="{{ US.progress }}"></md-progress-circular>
                    <h4>{{ US.progress }} %</h4>
                </md-card-content>
            </md-card>

            <!-- Upload button section -->
            <md-button class="md-primary" ngf-select ng-model="US.originalAvatar" ngf-accept="'image/*'">Select Avatar
            </md-button>
        </div>

        <!-- Data section -->
        <div flex-offset-gt-xs="5" flex-gt-xs="50" layout="column">
            <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" ng-model="U.user.profile.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Bio</label>
                <textarea ng-model="U.user.profile.bio" rows="3"></textarea>
            </md-input-container>
        </div>
    </div>

    <md-divider></md-divider>

    <!-- Footer section -->
    <div layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="US.updateUser(U.user.profile)">Save</md-button>
    </div>
</div>