<div layout-xs="column" layout-gt-xs="row" layout-align-gt-xs="center start">

    <!-- User profile section -->
    <div flex-gt-xs="30" layout="column">

        <!-- Mini avatar, username and name section -->
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img ui-sref="user.profile({username: UP.user.profile.username})" class="md-user-avatar"
                         ng-src="{{ UP.user.profile.avatar }}" alt="{{ UP.user.profile.name }}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ UP.user.profile.username }}</span>
                    <span class="md-subhead">{{ UP.user.profile.name }}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>

        <!-- Avatar section -->
        <md-card>
            <img ng-src="{{ UP.user.profile.avatar }}" alt="{{ UP.user.profile.name }}">
        </md-card>

        <!-- User objects section -->
        <div layout="row" layout-align="center center">
            <md-button ui-sref="user.profile.followers" class="user-object-button">
                <div class="user-object-length">{{ UP.user.followers.length }}</div>
                Followers
            </md-button>
            <md-button ui-sref="user.profile.following" class="user-object-button">
                <div class="user-object-length">{{ UP.user.following.length }}</div>
                Following
            </md-button>
            <md-button ui-sref="user.profile({username: UP.user.profile.username})" class="user-object-button">
                <div class="user-object-length">{{ UP.user.posts.length }}</div>
                Posts
            </md-button>
        </div>

        <!-- Follow button section -->
        <ug-follow-button auth-user="U.user" user="UP.user.profile" ng-if="U.user.profile.$id !== UP.user.profile.$id" layout="column">
        </ug-follow-button>

        <!-- User meta section -->
        <md-card>
            <md-card-content>
                <strong>Bio:</strong>

                <p>{{ UP.user.profile.bio }}</p>
            </md-card-content>
        </md-card>
    </div>

    <!-- User object section -->
    <div flex-offset-gt-xs="5" flex-gt-xs="50" layout="column" ui-view>
        <ug-post-bar user="U.user" users="U.users"></ug-post-bar>
        <br/>
         <!--Wrap ng-if in ui-view root element with div so it doesn't throw an error. (angular issue)-->
        <div>
            <div ng-if="UP.user.posts.length == 0"> No post yet</div>
            <ug-post-list ng-if="UP.user.posts.length > 0" user="U.user" posts="UP.user.posts"></ug-post-list>
        </div>
    </div>

</div>