<div layout="column">
    <div class="header">
        <h2>Setting Account</h2>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-xs="column" layout-align-gt-xs="center center" layout-padding>
        <div layout="column" flex="30" flex-xs="100">
            <md-card ng-show="!US.progress">
                <img ng-show="!US.originalAvatar" ng-src="{{ U.user.profile.avatar }}">

                <div ng-show="US.originalAvatar" ngf-drop ng-model="US.picFile" ngf-pattern="image/*" class="cropArea">
                    <img-crop area-type="square" image="US.originalAvatar | ngfDataUrl"
                              result-image="US.croppedAvatar" result-image-size=500></img-crop>
                </div>
            </md-card>
            <md-card ng-show="US.progress">
                <md-card-content layout="column" layout-align="center center">
                    <h4>Uploading Avatar</h4>
                    <md-progress-circular md-mode="determinate" value="{{ US.progress }}"></md-progress-circular>
                    <h4>{{ US.progress }} %</h4>
                </md-card-content>
            </md-card>
            <md-button class="md-primary" ngf-select ng-model="US.originalAvatar" accept="image/*">Select Avatar
            </md-button>
        </div>
        <div layout="column" flex="50" flex-xs="100">
            <md-input-container class="md-block">
                <label>Name</label>
                <input type="text" ng-model="U.user.profile.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Bio</label>
                <textarea ng-model="U.user.profile.bio" rows="3"></textarea>
            </md-input-container>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="US.updateUser(U.user.profile)">Save</md-button>
    </div>
</div>